<style>
  .post-abstract-container {
    background-color: #111;
    border-top: 1px solid #444;
    cursor: pointer;
    padding: 10px;
    color: white;
    padding-bottom: 20px;
  }

  .post-abstract-container:hover {
    background-color: #212121;
  }

  .post-abstract-container .title {
    font-size: 16px;
  }

  .post-abstract-container .author {
    color: #666;
    font-size: 11px;
  }

  .post-abstract-container .author .username {
    color: #23ade5;
  }

  .post-abstract-container .content {
    color: #a4a4a4;
    font-size: 12px;
    padding: 6px 0;
  }

  .post-abstract-container .status {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 12px;
    color: #555;
  }

  .status .item {
    margin-left: 20px;
  }

  .delete {
    color: #444;
  }
  .delete:hover {
    color: red;
  }
  .views.viewed {
    color: green;
  }

  .likes.liked {
    color: rgb(239, 17, 17)
  }

  .dislikes.disliked {
    color: #999;
  }

  @media only screen and (min-width: 1280px) {
    .post-abstract-container .title {
      font-size: 18px;
      font-weight: 600;
    }
    .post-abstract-container .author {
      color: #666;
      font-size: 13px;
    }
    .post-abstract-container .content {
      font-size: 15px;
    }
    .post-abstract-container .status {
      font-size: 13px;
    }
  }

</style>
<script>

  function getDate (ts) {
    const date = new Date(ts)
    return date.toLocaleString()
  }

  function deletePost () {
    let id = '<%= post.id %>'
    // deletePostApi(id)
  }

  function onPostDetail () {
    let id = '<%= post.id %>'
    window.open(`/post/${id}`, '_blank')
  }

</script>
<body>
  <div class="post-abstract-container" onclick="onPostDetail()">
    <div class="title">
      <%= post.title %>
    </div>
    <div class="author">
      <span class="username"> <%= post.author.username == user.username ? 'You' : '@' + post.author.username %> </span> posted on  <%= post.created_at %>
    </div>

    <div class="content">
      <%= post.abstract %>
    </div>

    <div class="status">
      <% if (user.role == 'admin') { %>
        <div class="delete item" data-id="<% post.id %>" onclick="deletePost()">Delete</div>
      <% } %>
      
      <!-- view -->
      <% if (post.views.viewed) { %>
      <div class="views item viewed">
        <%= post.views.total %>
      </div>
      <% } else { %>
        <div class="views item">
          <%= post.views.total %>
        </div>
      <% } %>

      <!-- likes -->
      <% if (post.likes.liked) { %>
        <div class="likes item liked">
          <%= post.likes.total %>
        </div>
      <% } else { %>
        <div class="likes item">
          <%= post.likes.total %>
        </div>
      <% } %>

      <!-- dislikes -->
      <% if (post.dislikes.disliked) { %>
        <div class="dislikes item disliked">
          <%= post.dislikes.total %>
        </div>
      <% } else { %>
        <div class="dislikes item">
          <%= post.dislikes.total %>
        </div>
      <% } %>
    </div>
    

  </div>
</body>